<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Name of the process - usually it is the executable without extension -->
		<add key="ProcessName" value="notepad"/>
		
		<!-- Time in milliseconds between checks -->
		<add key="TimeBetweenChecks" value="1000"/>
		
		<!-- Should Maximize too? -->
		<add key="Maximize" value="true"/>
		
		<!-- Force always to put in fullscreen, otherwise only first time is apply -->
		<add key="KeepAlwaysInFullscreen" value="false"/>
		
		<!-- Force always to put in fullscreen, otherwise only first time is apply -->
		<add key="KeepAlwaysMaximized" value="false"/>
	
		<!-- The number of the keyboard key listed at https://learn.microsoft.com/en-us/dotnet/api/system.windows.forms.keys -->
		<add key="KeyToPutInFullscreen" value="65"/> <!--F11 = 122-->
	</appSettings>
</configuration>